.wrapper {
  color: #fff;
  padding: 20px;
  border: 2px solid #fff;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 10px;
}

.question {
  display: flex;
  align-items: center;
}

.question:not(:first-child) {
  margin-top: 10px;
}

.results {
  margin-top: 10px;
  text-align: right;
}

.iconSuccess {
  color: forestgreen;
  margin-left: 10px;
  font-size: 24px;
}

.iconError {
  color: red;
  margin-left: 10px;
  font-size: 24px;
}

.actions {
  margin-top: 10px;
}
