.wrapper {
  display: flex;
  justify-content: center;
  height: 100%;
  padding-top: 6rem;
  background: linear-gradient(90deg, #5041b2 0%, #7969e6 100%);
}

.quiz {
  width: 600px;
}

.title {
  font-size: 32px;
  color: #fff;
}
