.wrapper {
  display: flex;
  justify-content: center;
  height: 100%;
  padding-top: 6rem;
  background: linear-gradient(90deg, #fd8355 0%, #f0576c 40%, #f79cbd 100%);
}

.quizList {
  width: 600px;
}

.title {
  font-size: 32px;
  color: #fff;
}

.quizList ul {
  color: #fff;
  padding: 20px;
  border: 2px solid #fff;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 10px;
}

.quizList ul li:not(:first-child) {
  margin-top: 10px;
}

.quizList ul li a {
  color: #fff;
  text-decoration: none;
}

.quizList ul li a:hover {
  color: rgba(0, 0, 0, 0.7);
}
